@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@200&display=swap');
body {
    font-family: Tahoma,'Roboto', sans-serif;
    text-align:center;
    background-color:#1b1b32;
    width:100%;
    color:rgb(201, 203, 230);
}

form {
    max-width:500px;
    min-width:300px;
    height:auto;
    margin:0 auto;
    border:none;
    text-align:left;
}

input, select, textarea {
    background-color: #0a0a23;
    border: none;
    margin: 1em auto;
    padding:1em;
}
.block {
    width:100%;
    display:block;
    color:rgb(201, 203, 230);
}
.selection {
    width:unset;
    vertical-align: left;
}

fieldset {
    border:none;
    border-bottom: 3px solid #3b3b4f;
    margin:1em 0;
}


input[type="submit"] {
    font-size:1em;
    width:150px;
}

input[type="submit"]:hover {
    color: #6f64d3;
    animation-name:dodge;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

input[type="file"]:hover {
    background-color: #141438;
    animation-name:rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

fieldset:last-of-type {
    border:none;
}

.inline {
    display:block;
}

@keyframes dodge {
    0% {transform:translate(0px, 0px)}
    25% {transform:translate(0px, -20px)}
    50% {transform:translate(-40px, -20px)}
    75% {transform:translate(-40px, 0px)}
    100% {transform:translate(0px, 0px)}
}

@keyframes rotate {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}